.first-background {
  height: 100vh;
  background: url("../images/Mask group.png");
  background-size: cover;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.nav-link {
  margin: 0;
  font-size: 14.4px;
  font-weight: bold;
  color: #fff;
  font-family: Arial, sans-serif;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 40px;
  width: 230px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link li {
  cursor: pointer;
}
.nav-link li:hover {
  color: red;
}

.outline {
  height: 100vh;
  width: 100%;
}

.bg-transparent {
  top: 0;
  width: 100%;
  height: 300px;
  background: transparent;
  z-index: 2;
}

.under-transparent {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 414px;
  background: url("../images/menu.jpg");
  background-size: cover;
}

.trick {
  position: relative;
}

.sure-trick {
  position: relative;
  top: -141px;
  width: 100%;
  height: 900px;
  background: lightgreen;
}

.one-flour {
  width: 1280px;
  height: 414px;
  background: lightgreen;
  background-image: url("https://res.cloudinary.com/dbbshitlz/image/upload/v1731836557/menu.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 20px;
  z-index: -10;
}

.main {
  width: 1280px;
  border: groove gray 1px;
  overflow-y: scroll;
  position: relative;
  z-index: 2;
}

.main .second-flour-one {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url("https://res.cloudinary.com/dbbshitlz/image/upload/v1731821315/Mask_group.png");
  background-size: cover;
  backgroud-position: center;
  margin-bottom: 0;
}

.transparent {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 300px;
  background: transparent;
  margin-bottom: 50px;
}

.fourth {
  position: relative;
  width: 100%;
  z-index: 2;
  padding-top: 88px;
  padding-bottom: 172px;
  height: 920px;
  box-sizing: border-box;
}

.space {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 30px;
}

menu {
  margin-top: 20px;
}

#menu .menu-img {
  background-image: url(../images/menu.jpg);
  position: relative;
}

.fixed-bg {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#menu .menu-content {
  display: flex;
}

.wrapper {
  max-width: 1000px;
  padding: 90px 16px 150px 16px;
  margin: 0 auto;
  text-align: center;
}

.sec-title {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 72px;
  filter: drop-shadow(1px 1px 15px black);
}

.font-change {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-size: 115px;
  font-weight: 900;
  color: #fff;
  margin: 0;
  filter: drop-shadow(1px 1px 10px gray);
}

.img-font {
  filter: drop-shadow(1px 1px 10px gray);
  border: solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-content {
  width: 880px;
  background: lightseagreen;
  margin: 0 auto;
  height: 647px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-side {
  width: 441px;
  height: 100%;
  background: cadetblue;
  border-right: solid 1px;
  overflow: hidden;
  text-align: center;
}

.second-side {
  width: 439px;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
.second-side .side-title1 {
  margin-bottom: 75px;
  margin-top: 80px;
}

.side-title {
  font-size: 40px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  height: 64px;
  padding: 10px 0;
  box-sizing: border-box;
  border-bottom: solid 6px #E03131;
  margin: 0 auto;
  margin-bottom: 79px;
}

.menu-detail {
  width: 395px;
  margin: 0 auto;
  background: lightgray;
  display: block;
  /*display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px 30px;*/
}
.menu-detail ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  gap: 25px 15px;
}

.coffee {
  height: 74%;
}

.etc {
  height: 73%;
}

.line {
  line-height: 19.4px;
  background: lightyellow;
}

.product {
  width: 345px;
  text-align: left;
  font-size: 14px;
  font-family: Arial, sans-serif;
  display: block;
  border-bottom: dashed 1px;
  padding-bottom: 5px;
}

.price {
  width: 35px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.price span {
  display: inline-block;
  height: 100%;
  vertical-align: -0.4em;
}

.fifth {
  width: 100%;
  height: 990px;
  background: lightgoldenrodyellow;
  margin-bottom: 170px;
  text-align: center;
  vertical-align: middle;
}
.fifth .fifth-image {
  width: 100%;
  background: url("../images/about (2).jpg");
  background-size: cover;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 100px;
}

h2.fifth-title {
  margin: 0;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: solid 7px red;
  margin-bottom: 95px;
}

.fifth-content {
  width: 990px;
  height: 320px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.fifth-content ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px 50px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: left;
}
.fifth-content ul li.fifth-li {
  line-height: 26px;
  list-style: none;
  width: 430px;
  height: 130px;
}

.fifth-link {
  display: inline-block;
  height: 50px;
  width: 160px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fifth-link::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: solid 2px red;
  border-left: solid 2px red;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.fifth-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
  border-bottom: solid 2px red;
  border-right: solid 2px red;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.fifth-link:hover .fifth-link::after, .fifth-link:hover .fifth-link::before {
  width: 100%;
  height: 100%;
}

.fifth-link:hover::before, .fifth-link:hover::after {
  width: 100%;
  height: 100%;
}

.sixth {
  width: 100%;
  height: 1190px;
  background: lightsteelblue;
  text-align: center;
}
.sixth .sixth-image {
  background: url(../images/img/location.jpg);
  height: 300px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.sixth .sixth-title {
  margin: 0;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: solid 7px red;
  margin-top: 100px;
  margin-bottom: 70px;
}
.sixth .sixth-location-map {
  margin: 0 auto;
  width: 970px;
  height: 400px;
  border: ridge lightgray 5px;
}
.sixth .sixth-location-map .map-style {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.sixth .sixth-map-detail {
  margin: 0 auto;
  margin-top: 33px;
  max-width: 970px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  height: 140px;
  text-align: left;
  line-height: 20px;
  background: lightcoral;
}
.sixth .sixth-map-detail p.detail-sentence {
  line-height: 20px;
  display: block;
  margin: 0;
}
.sixth .sixth-map-detail .space-content {
  height: 20px;
}/*# sourceMappingURL=custom1.css.map */