.footer {
  background-color: #d35400;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}


.footer-list li {
  padding-bottom: 20px;
}